<page-header></page-header>
<nz-content style="background-color: white" nz-row nzGutter="32">
  <nz-tabset (nzSelectedIndexChange)='change_index($event)' [nzTabPosition]="'top'" [nzType]="'card'">
    <nz-tab *ngFor="let tab of model_tabs" [nzTitle]="tab.label">
      <div nz-col nzSpan="8">
        <div class='menu-box'>
          <div>
            <h3 style='text-align: center'>编辑模块</h3>
          </div>
          <div class="menu_box_content">
            <button (click)='add_parent_menu()' nz-button nzBlock [nzType]="'dashed'" class="ant-btn__block mb-sm">
              <i class="anticon anticon-plus"></i><span>添加一级模块</span>
            </button>
            <nz-spin *ngIf='is_loading_tree' style="text-align: center;" nzSimple></nz-spin>
            <nz-empty *ngIf='!edit_menu_nodes||edit_menu_nodes.length<=0'></nz-empty>

            <nz-tree nzShowLine [nzData]="edit_menu_nodes" (nzClick)="activeNode($event)">
              <ng-template #contextTemplate>
                <ul nz-menu nzInDropDown>
                  <li nz-menu-item (click)="create_menu()">添加下级模块</li>
                  <li nz-menu-item (click)="edit_menu()">编辑模块</li>
                  <li nz-menu-item nz-popconfirm nzTitle="确认删除这个模块吗?" nzOkText="删除模块" nzCancelText="取消"
                    (nzOnConfirm)="delete_menu()">删除模块</li>
                </ul>
              </ng-template>
              <ng-template #nzTreeTemplate let-node>
                <span class="custom-node">
                  <span [class.active]="activedNode?.key === node.key" *ngIf="!node.isLeaf"
                    (contextmenu)="contextMenu($event, contextTemplate)">
                    <i (click)="openFolder(node)"></i>
                    <span class="folder-name">{{ node.title }}</span>
                    <span class="folder-desc">

                    </span>
                  </span>
                  <span [class.active]="activedNode?.key === node.key" *ngIf="node.isLeaf"
                    (contextmenu)="contextMenu($event, contextTemplate)">
                    <!-- <i nz-icon type="file"></i> -->
                    <span class="file-name">{{ node.title }}</span>
                    <span class="folder-desc">


                    </span>
                  </span>
                </span>
              </ng-template>
            </nz-tree>
          </div>

        </div>

      </div>

      <div nz-col nzSpan="8">
        <div class='menu-box'>
          <div>
            <h3 style='text-align: center'>路由设置</h3>
          </div>
          <div class="menu_box_content">
            <nz-input-group [nzSuffix]="suffixIcon">
              <input type="text" nz-input placeholder="搜索" [(ngModel)]="searchValue" />
            </nz-input-group>
            <nz-spin *ngIf='is_loading_tree' style="text-align: center;" nzSimple></nz-spin>
            <nz-empty *ngIf='!edit_menu_nodes||edit_menu_nodes.length<=0'></nz-empty>
            <nz-tree [nzSearchValue]="searchValue" (nzSearchValueChange)="nzEvent($event)" [nzData]="edit_route_nodes"
              (nzClick)="activeNode($event)">

              <ng-template #nzTreeTemplate let-node>
                <span class="custom-node">
                  <span [class.active]="activedNode?.key === node.key" *ngIf="!node.isLeaf">
                    <i *ngIf='node.origin.is_route' nz-icon type='setting'></i>
                    <span [ngStyle]="{'color':node.title.indexOf(searchValue) > -1 && searchValue!=''  ? 'red' : '' }"
                      class="folder-name">{{ node.title }}</span>
                    <span *ngIf='!node.origin.is_route' class="folder-desc">

                      <a style='color:blue' (click)='add_route(node.origin)'> 添加路由</a>
                    </span>
                    <span *ngIf='node.origin.is_route' class="folder-desc">
                      <a (click)='edit_route(node.origin)'>编辑</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a style='color:#1D90FF' nz-popconfirm nzTitle="确认删除这个路由吗?" nzOkText="删除" nzCancelText="取消"
                        (nzOnConfirm)="delete_route(node.origin)">删除</a>
                    </span>
                  </span>
                  <span [class.active]="activedNode?.key === node.key" *ngIf="node.isLeaf">
                    <i *ngIf='node.origin.is_route' nz-icon type='setting'></i>
                    <span [ngStyle]="{'color':node.title.indexOf(searchValue) > -1 && searchValue!=''  ? 'red' : '' }"
                      class="file-name">{{ node.title }}</span>
                    <span *ngIf='!node.origin.is_route' class="folder-desc">
                      <a style='color:blue' (click)='add_route(node.origin)'> 添加路由</a>
                    </span>
                    <span style='display: inline-block;margin-left: 20px;' *ngIf='node.origin.is_route'>
                      <nz-switch [(ngModel)]="node.origin.is_open"
                        (ngModelChange)='change_is_open_btn($event,node.origin)' nzSize="small" nzCheckedChildren="开"
                        nzUnCheckedChildren="关"></nz-switch>
                    </span>
                    <span *ngIf='node.origin.is_route' class="folder-desc">
                      <a (click)='edit_route(node.origin)'>编辑</a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <a style='color:blue' nz-popconfirm nzTitle="确认删除这个路由吗?" nzOkText="删除" nzCancelText="取消"
                        (nzOnConfirm)="delete_route(node.origin)">删除</a>
                    </span>
                  </span>
                </span>
              </ng-template>
            </nz-tree>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="8">
        <div class='menu-box'>
          <div>
            <h3 style='text-align: center'>路由列表</h3>
          </div>
          <!-- [nzLoading]="loading" -->
          <div class="menu_box_content">
              <nz-list [nzDataSource]="route_array" [nzRenderItem]="item" [nzItemLayout]="'horizontal'" >
                  <ng-template #item let-item>
                    <nz-list-item>
                      <nz-list-item-meta
                        [nzTitle]="nzTitle"
                        [nzDescription]="item.route_name"
                      >
                        <ng-template #nzTitle>
                          <span >{{item.title}}</span>
                        </ng-template>
                      </nz-list-item-meta>
                    </nz-list-item>
                  </ng-template>
                </nz-list>
          </div>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>


  <!-- 添加模块 -->
  <nz-modal [nzFooter]="null" [nzMaskClosable]='true' (nzOnCancel)="cancel_data_prize()"
    [(nzVisible)]="is_show_edit_menu" [nzTitle]="modal_type=='create'?'创建模块':'编辑模块'">
    <form nz-form [formGroup]="create_form">
      <div *ngIf='isOkLoading' class='lodding-box'>
        <nz-spin nzSimple style="text-align: center;margin-top: 45%"></nz-spin>
      </div>

      <nz-form-item>
        <nz-form-label nzFor="label" nzRequired [nzSm]="6" [nzXs]="24">中文名称</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="23">
          <input id="label" type="label" formControlName="label" nz-input placeholder="名称"
            [(ngModel)]="edit_menu_obj['label']" />
          <nz-form-explain *ngIf="create_form.get('label')?.dirty && create_form.get('label')?.errors">
            请输入模块中文名称!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="en_name" nzRequired [nzSm]="6" [nzXs]="24">英文名称</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="23">
          <input id="en_name" type="en_name" formControlName="en_name" nz-input placeholder="英文名称"
            [(ngModel)]="edit_menu_obj['en_name']" />
          <nz-form-explain *ngIf="create_form.get('en_name')?.dirty && create_form.get('en_name')?.errors">
            请输入模块英文名称!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="type" nzRequired [nzSm]="6" [nzXs]="24">模块类型</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="23">
          <nz-select id="type" type="type" formControlName="type" style="width: 100%;"
            [(ngModel)]="edit_menu_obj['type']" nzShowSearch nzPlaceHolder="选择类型">
            <nz-option *ngIf="edit_menu_obj['ptype']==1" nzValue='1' nzLabel="通用"></nz-option>
            <nz-option *ngIf="edit_menu_obj['ptype']==1||edit_menu_obj['ptype']==2" nzValue='2' nzLabel="web端">
            </nz-option>
            <nz-option *ngIf="edit_menu_obj['ptype']==1||edit_menu_obj['ptype']==3" nzValue='3' nzLabel="app端">
            </nz-option>

          </nz-select>
          <nz-form-explain *ngIf="create_form.get('en_name')?.dirty && create_form.get('en_name')?.errors">
            请选择模块类型!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>


      <nz-form-item>
        <nz-form-label nzFor="pid" nzRequired [nzSm]="6" [nzXs]="24">父级id</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="15" [nzXs]="23">
          <input id="pid" disabled="true" type="pid" formControlName="pid" nz-input placeholder="父级id"
            [(ngModel)]="edit_menu_obj['pid']" />
          <nz-form-explain *ngIf="create_form.get('pid')?.dirty && create_form.get('pid')?.errors">
            父级id!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button *ngIf='modal_type==="create"' (click)="submit_menu()" [disabled]="!create_form.valid" nz-button
            nzType="primary">确认创建</button>
          <button *ngIf='modal_type==="edit"' (click)="submit_menu()" [disabled]="!create_form.valid" nz-button
            nzType="primary">确认修改</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>

  <!-- 添加路由 -->
  <nz-modal [nzFooter]="null" [nzMaskClosable]='true' (nzOnCancel)="cancel_data_prize()"
    [(nzVisible)]="is_show_edit_route" [nzTitle]="modal_type=='create'?'添加路由':'编辑路由'">
    <form nz-form [formGroup]="route_form">
      <div *ngIf='isOkLoading' class='lodding-box'>
        <nz-spin nzSimple style="text-align: center;margin-top: 45%"></nz-spin>
      </div>
      <nz-form-item>
        <nz-form-label style="text-align: left;" nzFor="route" nzRequired [nzSm]="24" [nzXs]="24">选择路由</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="24" [nzXs]="23">
          <nz-select id="route" type="route" formControlName="route" style="width: 100%;"
            (ngModelChange)='change_route_obj($event)' [(ngModel)]="edit_route_obj['route']" nzShowSearch
            nzPlaceHolder="选择路由">
            <nz-option *ngFor="let o of optionList" [nzValue]="o.route_name" [nzLabel]="o.value"></nz-option>

          </nz-select>
          <nz-form-explain *ngIf="route_form.get('route')?.dirty && route_form.get('route')?.errors">
            请选择路由!</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label style="text-align: left;" nzFor="title" nzRequired [nzSm]="6" [nzXs]="24">标题</nz-form-label>
        <nz-form-control nzHasFeedback [nzSm]="24" [nzXs]="23">
          <input id="title" type="title" formControlName="title" nz-input placeholder="标题"
            [(ngModel)]="edit_route_obj['title']" />
          <nz-form-explain *ngIf="route_form.get('title')?.dirty && route_form.get('title')?.errors">
            请输入标题名称！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSm]="24" [nzXs]="23">
          <button *ngIf='modal_type==="create"' (click)="submit_route()" [disabled]="!route_form.valid" nz-button
            nzType="primary">确认添加</button>
          <button *ngIf='modal_type==="edit"' (click)="submit_route()" [disabled]="!route_form.valid" nz-button
            nzType="primary">确认修改</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-modal>


</nz-content>
<ng-template #suffixIcon>
  <i nz-icon type="search"></i>
</ng-template>