<page-header [action]="action">
  <ng-template #action>
    <button (click)='getList()' style='width:100px;margin: 8px 0 0 8px' nz-button nzBlock [nzType]="'dashed'"
      class="ant-btn__block mb-sm">
      <i nz-icon nzType="redo" nzTheme="outline"></i>
      <span>刷新</span>
    </button>
  </ng-template>
</page-header>
<nz-layout>
  <nz-content style='background-color: white'>
    <div>
      <div style='padding-top: 20px' nz-row nzGutter="16">
        <div nz-col nzSpan="20">
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">用户名称</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input nzSize="small" placeholder="用户名称" [(ngModel)]="listData.username" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">开户银行</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input nzSize="small" placeholder="开户银行" [(ngModel)]="listData.bank_name" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">开户支行</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input nzSize="small" placeholder="开户支行" [(ngModel)]="listData.branch" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">银行卡号</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input nzSize="small" placeholder="银行卡号" [(ngModel)]="listData.card_number" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">标识</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input nzSize="small" placeholder="标识" [(ngModel)]="listData.bank_sign" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
            <nz-form-item>
              <nz-form-label [nzSpan]="6">银行卡户名</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <input nz-input nzSize="small" placeholder="银行卡户名" [(ngModel)]="listData.owner_name" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="6">
              <nz-form-item>
                <nz-form-label [nzSpan]="6">开启状态</nz-form-label>
                <nz-form-control [nzSpan]="18">
                    <nz-select nzSize="small" style="width: 100%;" [(ngModel)]="listData.status"  nzPlaceHolder="选择状态">
                    <nz-option nzValue="1" nzLabel="开启"></nz-option>
                    <nz-option nzValue="0" nzLabel="关闭"></nz-option>
                  </nz-select>
                </nz-form-control>
              </nz-form-item>
            </div>
        </div>
        <div nz-col nzSpan="4">
          <button nz-button nzType="primary" class="select-search" (click)="research()"><i nz-icon
              type="search"></i>搜索</button>&nbsp;&nbsp;
          <button nz-button nzType="primary" class="select-reset" (click)="reset()"><i nz-icon
              type="sync"></i>重置</button>
        </div>
      </div>

    </div>
    <nz-table [nzScroll]='{ y: "450px" }' #nzTable [nzLoadingDelay]='500' (nzPageIndexChange)='changPage($event)'
      [nzLoading]='pages.dataLoading' [(nzPageIndex)]='pages.page' [nzFrontPagination]='false' [nzData]="dataList"
      [nzPageSize]='pages.page_size' [nzTotal]='pages.total'>
      <thead>
        <tr>
          <th nzWidth="10%">用户名称</th>
          <th nzWidth="10%">开户省市</th>
          <th nzWidth="10%">开户银行</th>
          <th nzWidth="15%">开户支行</th>
          <th nzWidth="15%"> 银行卡号</th>
          <th nzWidth="10%">标识</th>
          <th nzWidth="10%">银行卡户名 </th>
          <th nzWidth="5%">状态</th>
          <th nzWidth="10%">创建时间</th>
          <th nzWidth="5%">操作</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nzTable.data">
          <tr>
            <td>{{ data.username}}</td>
            <td>{{ data.province.region_name}}|{{ data.city.region_name}}</td>
            <td>{{ data.bank_name }}</td>
            <td>{{ data.branch }}</td>
            <td>{{ data.card_number }}</td>
            <td>{{ data.bank_sign }}</td>
            <td>{{ data.owner_name }}</td>
            <td>
              <ng-container *ngIf="data.status; else elseTemplate">
                开启
              </ng-container>
              <ng-template #elseTemplate>
                关闭
              </ng-template>
            </td>
            <td>{{ data.created_at }}</td>
            <td>
              <a nz-popconfirm nzTitle="确认删除这个银行卡吗吗?" nzOkText="删除" nzCancelText="取消" (nzOnConfirm)="delete_banck(data)">
                <button nz-button [nzSize]='"small"' nzType="danger">删除</button>
              </a>

            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </nz-content>
</nz-layout>