.table_tr>td {
  display: inline-block;
  width: 200px;
  overflow: hidden;
  height: 100px;
}

.table_tr {
  max-height: 100px;
  overflow: hidden;
}
.ant-form-item-control{
  width: 100% !important;
}

pre {
  outline: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.string {
  color: green;
}

.number {
  color: darkorange;
}

.boolean {
  color: blue;
}

.null {
  color: magenta;
}

.key {
  color: red;
}
