<page-header [action]="action">
  <ng-template #action>
    <span class='lott-time'>自动生成奖期时间：</span>
    <span class='lott-time'> {{every_day_time}}(每日)</span>
    <button (click)='edit_lot_time()' nz-button nzType="primary">修改</button>
  </ng-template>
</page-header>
<nz-layout>
  <nz-content style='background-color: white'>

    <nz-skeleton *ngIf='lotteries_tabs.length===0' [nzParagraph]="{ rows: 15 }" [nzActive]="true"></nz-skeleton>
    <nz-tabset (nzSelectedIndexChange)='change_index($event)' [nzTabPosition]="'top'" [nzType]="'card'">
      <nz-tab *ngFor="let tab of lotteries_tabs" [nzTitle]="tab.label">
        <span *ngIf='tab_index!==0'>
          <span style='display: inline-block;margin-left:20px'>筛选彩种：</span>
          <nz-select style='width:150px;margin-left:20px'(ngModelChange)='change_lotteries($event)' nzShowSearch nzAllowClear [(ngModel)]="choise_lottery"
            placeholder="筛选彩种">
            <nz-option nzLabel="不选择" nzValue="0"></nz-option>
            <nz-option *ngFor='let item of lotteries_list' [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
          </nz-select>
        </span>
        <span>
          <span style='display: inline-block;margin-left:20px'>奖期号：</span>
          <!-- <input nz-input placeholder="筛选奖期号" [(ngModel)]="search_number" /> -->
          <nz-input-group [nzSuffix]="suffixTemplate">
            <input  style='width:150px;' type="text" nz-input [(ngModel)]="search_number" placeholder="筛选奖期号" />
          </nz-input-group>
        </span>
        <span *ngIf='choise_lottery&&choise_lottery!="0"'>
          <span  style='display: inline-block;margin-left:20px'>筛选历史期数：</span>
          <nz-select style='width:100px;margin-left:20px' nzShowSearch nzAllowClear [(ngModel)]="previous_number"
          placeholder="选择查看的最近期数">
          <nz-option nzLabel="不选择" nzValue="0"></nz-option>
          <nz-option nzLabel="1" nzValue="1"></nz-option>
          <nz-option nzLabel="2" nzValue="2"></nz-option>
          <nz-option nzLabel="3" nzValue="3"></nz-option>
          <nz-option nzLabel="4" nzValue="4"></nz-option>
          <nz-option nzLabel="5" nzValue="5"></nz-option>
          <nz-option nzLabel="6" nzValue="6"></nz-option>
          <nz-option nzLabel="7" nzValue="7"></nz-option>
          <nz-option nzLabel="8" nzValue="8"></nz-option>
          <nz-option nzLabel="9" nzValue="9"></nz-option>
          <nz-option nzLabel="10" nzValue="10"></nz-option>
         
        </nz-select>
        </span>
        <button style='margin-left: 20px' (click)='search_lotteries()' nz-button nzType="primary">搜索</button>
        <button *ngIf='tab.value!="10086"' (click)='show_create_lottery()' style='width:300px;margin: 8px 20px 0 50px;float:right' nz-button
          nzBlock [nzType]="'dashed'" class="ant-btn__block mb-sm">
          <i class="anticon anticon-plus"></i><span>生成奖期号</span>
        </button>
        <nz-table [nzScroll]='{x:"4400px", y: "450px" }' #nzTable [nzLoadingDelay]='500'
          (nzPageIndexChange)='chang_page_index($event)' [nzLoading]='is_load_list' [(nzPageIndex)]='page_index'
          [nzFrontPagination]='false' [nzData]="list_of_aply_data" [nzPageSize]='20' [nzTotal]='list_total'>
          <thead>
            <tr>
              <th nzWidth="100px">彩种ID</th>
              <th nzWidth="150px">彩种名称</th>
              <th nzWidth="150px"> 奖期</th>
              <th nzWidth="200px">开始时间</th>
              <th nzWidth="200px">结束时间</th>
              <th nzWidth="200px">中奖号码</th>
              <th nzWidth="200px">手动录号</th>
              <th nzWidth="200px">重新派奖</th>
              <th nzWidth="200px">官方开奖时间</th>
              <th nzWidth="200px">允许录号时间</th>
              <th nzWidth="200px">已录号状态</th>
              <th nzWidth="200px">计奖状态</th>
              <th nzWidth="200px">派奖状态</th>
              <th nzWidth="200px">返点状态</th>
              <th nzWidth="200px">追号状态</th>
              <th nzWidth="200px">录号时间</th>
              <th nzWidth="200px">计奖时间</th>
              <th nzWidth="200px">派奖时间</th>
              <th nzWidth="200px">返点结算时间</th>
              <th nzWidth="200px">追号时间</th>
              <th nzWidth="200px">录号者</th>
              <th nzWidth="200px">创建时间</th>
              <th nzWidth="200px">更新时间</th>
              <!-- <th nzCustomFilter>
            申请人
            <nz-dropdown nzTrigger="click" nzPlacement="bottomRight" [nzClickHide]="false" nzTableFilter #dropdown>
              <i nz-icon nzType="search" class="ant-table-filter-icon"
                [class.ant-table-filter-open]="dropdown.nzVisible" nz-dropdown></i>

              <div class="search-box">
                <input type="text" nz-input placeholder="搜索用户名" [(ngModel)]="searchValue" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
                  搜索
                </button>
                <button nz-button nzSize="small" (click)="reset()">取消</button>
              </div>
            </nz-dropdown>
          </th>
          <th>提交申请人</th>
          <th>审核人</th>
          <th>申请人备注</th>
          <th nzShowFilter [nzFilters]="status_type" [nzFilterMultiple]='false'
            (nzFilterChange)="is_status_change($event)">状态</th>
          <th>创建时间</th>
          <th>最近操作时间</th>
          <th>操作</th> -->
            </tr>
          </thead>
          <tbody>
            
            <ng-template ngFor let-data [ngForOf]="nzTable.data">
              <tr class='table_tr'>
                <td style='width: 100px'>{{ data.lottery_id }}</td>
                <td style='width: 150px'>{{ data.lottery_name }}</td>
                <td  style='width: 150px'>{{ data.issue }}</td>
                <td>{{ data.begin_time | dateChange}}</td>
                <td>{{ data.end_time| dateChange }}</td>
                <td>{{ data.official_code }}</td>
                <td><button [disabled]='data.official_code' nzSize="small" (click)='input_number(data)' nz-button nzType="primary">录号</button></td>
                <td>
                  <button [nzLoading]="is_loading_enco"   [disabled]="!(data['status_encode']===1)" nzSize="small" (click)='calculate_encode_again(data)' nz-button nzType="primary">重新派奖</button></td>
                <td>{{ data.official_open_time| dateChange }}</td>
                <td>{{ data.allow_encode_time| dateChange }}</td>

                <td>{{ data.status_encode }}</td>
                <td>{{ data.status_calculated }}</td>
                <td>{{ data.status_prize }}</td>
                <td>{{ data.status_commission }}</td>
                <td>{{ data.status_trace }}</td>
                <td>{{ data.encode_time }}</td>
                <td>{{ data.calculated_time }}</td>
                <td>{{ data.prize_time }}</td>
                <td>{{ data.commission_time }}</td>
                <td>{{ data.trace_time }}</td>
                <td>{{ data.encode_username }}</td>
                <td>{{ data.created_at }}</td>
                <td>{{ data.updated_at }}</td>

                <!-- <td *ngIf='data.status==0'>

                <a (click)='edit_check_passport(data,"pass")'>通过申请</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='edit_check_passport(data,"no_pass")' style='color:blue'>驳回申请</a>
                </td> -->
              </tr>
              <tr>
              </tr>
            </ng-template>
          </tbody>
        </nz-table>
      </nz-tab>
    </nz-tabset>
    <!-- 奖期生成时间编辑弹框 -->
    <nz-modal [(nzVisible)]="is_visible_edit_time" [nzOkLoading]="is_loading_edit_time" nzTitle="编辑奖期生成时间"
      (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <nz-time-picker [(ngModel)]="time" nzFormat="HH:mm"></nz-time-picker>
    </nz-modal>

    <nz-drawer nzWidth='600px' [nzVisible]="visible_modal" nzPlacement="right" nzTitle="奖期生成"
      (nzOnClose)="close_drawer()">
      <form nz-form [formGroup]="create_form">
        <div *ngIf='modal_lodding' class='lodding-box'>
          <nz-spin nzSimple style="text-align: center;margin-top: 45%"></nz-spin>
        </div>

        <nz-form-item>
          <nz-form-label nzFor="lottery_id" nzRequired [nzSm]="6" [nzXs]="24">彩种选择</nz-form-label>
          <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="23">
            <nz-select nzShowSearch nzAllowClear [(ngModel)]="create_lottery_obj['lottery_id']" id="lottery_id"
              formControlName="lottery_id" nzPlaceHolder="请选择彩种">
              <nz-option *ngFor='let item of lotteries_list' [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
            </nz-select>
            <nz-form-explain *ngIf="create_form.get('title')?.dirty && create_form.get('title')?.errors">
              请选择彩种!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label nzFor="start_time" nzRequired [nzSm]="6" [nzXs]="24">开始时间</nz-form-label>
          <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="23">
            <!-- <input id="start_time" type="text" formControlName="start_time" nz-input placeholder="开始时间"
                      [(ngModel)]="edit_activity_obj['start_time']" /> -->
            <nz-date-picker [nzStyle]='{width:"300px"}' [(ngModel)]="create_lottery_obj['start_time']" id="start_time"
              formControlName="start_time" nzPlaceHolder="选择开始日期" (ngModelChange)="on_change_start($event)"
              (nzOnOk)="on_ok_start($event)"></nz-date-picker>
            <nz-form-explain *ngIf="create_form.get('start_time')?.dirty && create_form.get('start_time')?.errors">
              请输入活动的开始时间!</nz-form-explain>
          </nz-form-control>

        </nz-form-item>

        <nz-form-item>
          <nz-form-label nzFor="end_time" nzRequired [nzSm]="6" [nzXs]="24">结束时间</nz-form-label>
          <nz-form-control nzHasFeedback [nzSm]="18" [nzXs]="23">
            <nz-date-picker [nzStyle]='{width:"300px"}' [(ngModel)]="create_lottery_obj['end_time']" id="end_time"
              formControlName="end_time" nzPlaceHolder="选择结束日期" (ngModelChange)="on_change_end($event)"
              (nzOnOk)="on_ok_end($event)"></nz-date-picker>
            <nz-form-explain *ngIf="create_form.get('end_time')?.dirty && create_form.get('end_time')?.errors">
              请输入活动的结束时间!</nz-form-explain>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button (click)="create_issue()" [disabled]="!create_form.valid" nz-button nzType="primary">确认创建</button>

          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-drawer>
    <!-- 手动录号弹框 -->
    <nz-modal [nzOkLoading]='is_lodding_modal' nzWidth=1000 [(nzVisible)]="is_visible_input" nzTitle="手动录号" (nzOnCancel)="handle_cancel()"
      (nzOnOk)="handle_ok()">
      <div class='input-box'>
        <!-- <nz-select *ngFor='let rule of code_array' class="input-item" 
        [(ngModel)]="rule['value']" nzShowSearch >
          <nz-option *ngFor="let number of input_number_obj['valid_code']" [nzValue]="number" [nzLabel]="number"></nz-option>
        </nz-select> -->

        <textarea
        nz-input
        [placeholder]="code_rule"
        [(ngModel)]="code_value"
        [nzAutosize]="{ minRows: 8, maxRows: 15 }"
      ></textarea>
      </div>
    </nz-modal>
  </nz-content>


</nz-layout>

<ng-template #suffixTemplate><i nz-icon nz-tooltip class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle"
    *ngIf="search_number" (click)="search_number = null"></i></ng-template>