<page-header></page-header>

<nz-layout>
  <nz-content>
    <section class="select-lottery">
      <span>
        <span>操作用户:</span>
        <input nz-input nzSize="small" placeholder="操作用户" [(ngModel)]="searchData.username"
          class="select-lottery-input" />
      </span>
      <span>
        <span>访问域名:</span>
        <input nz-input nzSize="small" placeholder="访问域名" [(ngModel)]="searchData.origin"
          class="select-lottery-input" />
      </span>
      <span>
        <span>访问IP:</span>
        <input nz-input nzSize="small" placeholder="访问IP" [(ngModel)]="searchData.ip" class="select-lottery-input" />
      </span>
      <span>
        <span>操作系统:</span>
        <input nz-input nzSize="small" placeholder="操作系统" [(ngModel)]="searchData.os" class="select-lottery-input" />
      </span>
      <span>
        <span>注册时间:</span>
        <nz-range-picker [(ngModel)]="start_time"  nzFormat="yyyy/MM/dd" [nzRanges]="ranges1" ngModel (ngModelChange)="on_change_time($event)">
        </nz-range-picker>
      </span>
      <span>

        <button nz-button nzType="primary" class="select-search" (click)="search()"><i nz-icon
            type="search"></i>搜索</button>&nbsp;&nbsp;
        <button nz-button nzType="primary" class="select-reset" (click)="resetSearch()"><i nz-icon
            type="sync"></i>重置</button>
      </span>
    </section>

    <nz-table nzBordered  [nzScroll]='{x:"2851px", y: "500px" }' #nzTable [nzLoadingDelay]='500'
      (nzPageIndexChange)='chang_page_index($event)' [nzLoading]='is_load_list' [(nzPageIndex)]='page_index'
      [nzFrontPagination]='false' [nzData]="list_of_aply_data" [nzPageSize]='15' [nzTotal]='list_total'>
      <thead>
        <tr>
          <th  nzWidth="200px">访问域名</th>
          <th  nzWidth="150px">访问Ip</th>
          <th nzWidth="150px">Ip层级</th>
          <th  nzWidth="100px">用户</th>
          <th nzWidth="200px">系统语言</th>
          <th nzWidth="150px">浏览器内核</th>
          <th  nzWidth="150px">操作系统</th>
          <th nzWidth="150px">操作系统版本</th>
          <th nzWidth="100px">浏览器</th>
          <th nzWidth="200px">浏览器版本</th>
          <th nzWidth="100px">设备类型</th>
          <th nzWidth="200px">浏览器详细信息</th>
          <th nzWidth="200px">请求参数</th>
          <th nzWidth="200px">路由访问详情</th>
          <th nzWidth="200px">生成时间</th>
          <th nzWidth="200px">菜单</th>
          <th nzWidth="200px">菜单地址</th>
        </tr>
      </thead>
      <tbody>

        <ng-template ngFor let-data [ngForOf]="nzTable.data">
          <tr class='table_tr'>
            <td class='home-change-color' (click)='utilsService.show_modal_text(data.origin)'>{{ data.origin|| '无'}}</td>
            <td style='width:150px' class='hover-change' (click)='search_ip(data.ip)'>{{ data.ip|| '无' }}</td>
            <td  style='width:150px'  class='home-change-color' (click)='show_content(data.ips,"object")'>{{ data.ips || '无'}}</td>
            <td  style='width:100px' >{{ data.username || '无'}}</td>
            <td>{{ data.lang|| '无'}}</td>
            <td style='width:150px'>{{ data.device|| '无' }}</td>
            <td style='width:150px'>{{ data.os|| '无' }}</td>
            <td style='width:150px'>{{ data.os_version || '无'}}</td>
            <td  style='width:100px'>{{ data.browser|| '无' }}</td>
            <td>{{ data.bs_version || '无'}}</td>
            <td style='width:100px'>{{ data.device_type|equipmentType}}</td>
            <td class='ellipsis' class='home-change-color' (click)='show_content(data.user_agent,"string")'>
              {{ data.user_agent || '无'}}</td>
            <td class='ellipsis' class='home-change-color' (click)='show_content(data.inputs,"object")'>
              {{ data.inputs || '无'}}</td>
            <td class='ellipsis' class='home-change-color' (click)='show_content(data.route,"object")'>
              {{ data.route|| '无' }}</td>
            <td>{{ data.created_at|| '无' }}</td>
            <td>{{ data.menu_label|| '无' }}</td>
            <td>{{ data.menu_path|| '无' }}</td>
          </tr>
          <tr>
          </tr>
        </ng-template>

      </tbody>
    </nz-table>

    <!-- 操作历史弹框 -->
    <nz-drawer nzWidth='600px' [nzVisible]="if_show_text" nzPlacement="right" nzTitle="数据详情"
      (nzOnClose)="if_show_text = false">
      <!-- <div [innerHTML]='show_text'></div> -->
      <pre [innerHTML]='show_text'>
      </pre>
    </nz-drawer>
    <!-- 查看ip对话框 -->
    <nz-modal [(nzVisible)]="is_visible_city" (nzOnCancel)="is_visible_city=false" [nzFooter]='null' nzTitle="城市信息">
      <p>IP:{{city_obj['ip']}}</p>
      <p>城市:{{city_obj['city']}}</p>
      <p>地区:{{city_obj['county']||city_obj['country']}}</p>
    </nz-modal>
  </nz-content>
</nz-layout>