// region: PLACEHOLDER, IMPORTANT: don't remove
@import '~@delon/theme/styles/index';
@import '~@delon/abc/index';
@import '~@delon/chart/index';
@import '~@delon/theme/styles/layout/default/index';
@import '~@delon/theme/styles/layout/fullscreen/index';

@import './styles/index';
@import './styles/theme';
// endregion
.content_background{
  background-color: white
}
.ant-table-thead > tr > th .anticon-filter, .ant-table-thead > tr > th .ant-table-filter-icon{
  color: @primary-color !important;
}
.lodding-box{
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: white;
  opacity: 0.5;
  z-index: 10;
}
.home-change-color{
  cursor: pointer;
}
.home-change-color:hover{
  color: #1890ff;
}
.select-lottery{
  padding: 15px;
  color:#666;
}
.select-lottery>span{
  display: inline-block;
  margin-right: 20px;
}
.select-lottery-input{
  margin-bottom:10px;
  width:150px;
}
.select-lottery-search{
  margin-left:10px;
}
.ellipsis{
  overflow:hidden;
   white-space:nowrap; 
   text-overflow:ellipsis;
   display: inline-block;
}

//状态小圆点
.padding-box{
  margin-right: 10px;
}

.dn{
  display:none;
}