<page-header></page-header>
<nz-layout>
  <nz-content>
      <div>
          <div style='padding-top: 20px' nz-row nzGutter="16">
            <div nz-col nzSpan="20">
                <div nz-col nzSpan="6">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="6" >编号</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                          <input nz-input nzSize="small" placeholder="编号" [(ngModel)]="searchData.id"  />
                      </nz-form-control>
                    </nz-form-item>
                  </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" >申请人</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                      <input nz-input nzSize="small" placeholder="申请人" [(ngModel)]="searchData.username"  />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" >提现渠道</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                      <input nz-input nzSize="small" placeholder="提现渠道" [(ngModel)]="searchData.cardUsername"  />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" >状态</nz-form-label>
                  <nz-form-control  [nzSpan]="16">
                    <nz-select nzSize="small" style="width: 100%;"   [(ngModel)]="searchData.status" nzShowSearch
                      nzPlaceHolder="状态">
                      <nz-option nzValue="" nzLabel="不限"></nz-option>
                      <nz-option nzValue="0" nzLabel="待审核"></nz-option>
                      <nz-option nzValue="1" nzLabel="审核通过"></nz-option>
                      <nz-option nzValue="2" nzLabel="审核拒绝"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="6">每页条数</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                      <nz-select nzSize="small" style="width: 100%;" [(ngModel)]="searchData.pageSize" nzAllowClear>
                        <nz-option nzValue='20' nzLabel="20"></nz-option>
                        <nz-option nzValue='50' nzLabel="50"></nz-option>
                        <nz-option nzValue='100' nzLabel="100"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="6" >参考订单号</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                          <input nz-input nzSize="small" placeholder="订单号" [(ngModel)]="searchData.orderId"  />
                      </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6">开始时间</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                          <nz-date-picker [nzStyle]='{width:"200px"}' [(ngModel)]="searchData.createdAt"
                            id="created_time" nzFormat="yyyy-MM-dd HH:mm:ss"
                            nzPlaceHolder="选择创建时间">
                          </nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6">处理时间</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                          <nz-date-picker [nzStyle]='{width:"200px"}' [(ngModel)]="searchData.processTime"
                            id="created_time" nzFormat="yyyy-MM-dd HH:mm:ss"
                            nzPlaceHolder="选择创建时间">
                          </nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            <div nz-col nzSpan="4">
              <button nz-button nzType="primary" class="select-search" (click)="search()"><i nz-icon
                  type="search"></i>搜索</button>&nbsp;&nbsp;
              <button nz-button nzType="primary" class="select-reset" (click)="resetSearch()"><i nz-icon
                  type="sync"></i>重置</button>
            </div>
          </div>
        </div>
    <nz-table [nzScroll]='{ y: "450px" }' #nzTable [nzLoadingDelay]='500' (nzPageIndexChange)='chang_page_index($event)' [nzLoading]='is_load_list'
      [(nzPageIndex)]='page_index' [nzFrontPagination]='false' [nzData]="list_of_aply_data"  [nzPageSize]='searchData.pageSize'
      [nzTotal]='list_total'>
      <thead class="ant-table-thead">
        <tr>
          <th nzWidth="10%">申请人</th>
          <th nzWidth="10%">提交申请人</th>
          <th nzWidth="10%">审核人</th>
          <th nzWidth="15%">申请人备注</th>
          <th nzWidth="10%">状态</th>
          <th nzWidth="15%">创建时间</th>
          <th nzWidth="15%">最近操作时间</th>
          <th nzWidth="15%">操作</th>
        </tr>
      </thead>
      <tbody class="ant-table-tbody">
        <ng-template ngFor let-data [ngForOf]="list_of_aply_data">
          <tr>
            <td>
                <div class='ellipsis' style='max-width:300px;display: inline-block;'>
                    {{ data.username }}
                </div>
            </td>
            <td>{{ data.admin_name }}</td>
            <td>{{ data.auditor_name }}</td>
            <td>{{ data.apply_note}}</td>
            <td>{{ data.status | checkStatus:data.type}}</td>
            <td>{{ data.created_at }}</td>
            <td>{{ data.updated_at }}</td>
            <td *ngIf='data.status!=0'>
                <a (click)='edit_check_withdraw(data,"detailed")'>查看详细</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='edit_check_withdraw(data,"failure")' style='color:#1D90FF'>手动失败</a>
            </td>
            <td *ngIf='data.status==0'>
                <a (click)='edit_check_withdraw(data,"pass")'>通过申请</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='edit_check_withdraw(data,"no_pass")' style='color:#1D90FF'>驳回申请</a>
                <br/>
                <a (click)='edit_check_withdraw(data,"waiting")'>等待处理</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)='edit_check_withdraw(data,"take_over")' style='color:#1D90FF'>接手处理</a>
            </td>
          </tr>
          <tr>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
    <nz-drawer nzWidth='800px' [nzVisible]="detail_data_pop" nzPlacement="right"
      [nzTitle]="'详细信息'" (nzOnClose)="detail_data_pop = false">
        <nz-descriptions nzBordered [nzColumn]="{ xxl: 2, xl: 2, lg: 2, md: 2, sm: 2, xs: 2 }">
          <nz-descriptions-item *ngFor="let keys of objectKeys(detail_data_row)" [nzTitle]="keys">{{keys!='状态' ? detail_data_row[keys] : detail_data_row[keys] | checkStatus }}</nz-descriptions-item>
        </nz-descriptions>
      </nz-drawer>
  </nz-content>
</nz-layout>
