<page-header></page-header>
<nz-layout>
  <nz-content>
      <div>
          <div style='padding-top: 20px' nz-row nzGutter="16">
            <div nz-col nzSpan="20">
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" >申请人</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                      <input nz-input nzSize="small" placeholder="申请人" [(ngModel)]="searchData.username"  />
                  </nz-form-control>
                </nz-form-item>
              </div>
              <!-- <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" >提现渠道</nz-form-label>
                  <nz-form-control [nzSpan]="16">
                      <nz-select nzSize="small" style="width: 100%;" [(ngModel)]="searchData.payment" nzAllowClear
                        nzPlaceHolder="充值渠道">
                        <nz-option nzValue="" nzLabel="全部"></nz-option>
                        <nz-option *ngFor="let item of payment_list" [(nzValue)]="item.payment_sign" [(nzLabel)]="item.payment_name"></nz-option>
                      </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div> -->
              <div nz-col nzSpan="6">
                <nz-form-item>
                  <nz-form-label [nzSpan]="6" >状态</nz-form-label>
                  <nz-form-control  [nzSpan]="16">
                    <nz-select nzSize="small" style="width: 100%;"   [(ngModel)]="searchData.status" nzShowSearch
                      nzPlaceHolder="状态">
                      <nz-option nzValue="" nzLabel="不限"></nz-option>
                      <nz-option nzValue="0" nzLabel="未认领"></nz-option>
                      <nz-option nzValue="1" nzLabel="驳回"></nz-option>
                      <nz-option nzValue="2" nzLabel="审核通过"></nz-option>
                      <nz-option nzValue="-3" nzLabel="失败"></nz-option>
                      <nz-option nzValue="4" nzLabel="已认领"></nz-option>
                      <nz-option nzValue="5" nzLabel="成功"></nz-option>
                    </nz-select>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="6">
                  <nz-form-item>
                    <nz-form-label [nzSpan]="6">每页条数</nz-form-label>
                    <nz-form-control [nzSpan]="16">
                      <nz-select nzSize="small" style="width: 100%;" [(ngModel)]="searchData.pageSize" nzAllowClear>
                        <nz-option nzValue='20' nzLabel="20"></nz-option>
                        <nz-option nzValue='50' nzLabel="50"></nz-option>
                        <nz-option nzValue='100' nzLabel="100"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                      <nz-form-label [nzSpan]="6" >订单号</nz-form-label>
                      <nz-form-control [nzSpan]="16">
                          <input nz-input nzSize="small" placeholder="订单号" [(ngModel)]="searchData.order_id"  />
                      </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6">开始时间</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                          <nz-date-picker [nzStyle]='{width:"200px"}' [(ngModel)]="createdAt['start']"
                            id="created_time" nzFormat="yyyy-MM-dd HH:mm:ss"
                            nzPlaceHolder="选择创建时间">
                          </nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                </div>
                <div nz-col nzSpan="6">
                    <nz-form-item>
                        <nz-form-label [nzSpan]="6">结束时间</nz-form-label>
                        <nz-form-control [nzSpan]="16">
                          <nz-date-picker [nzStyle]='{width:"200px"}' [(ngModel)]="createdAt['end']"
                            id="created_time" nzFormat="yyyy-MM-dd HH:mm:ss"
                            nzPlaceHolder="选择创建时间">
                          </nz-date-picker>
                        </nz-form-control>
                      </nz-form-item>
                </div>
            </div>
            <div nz-col nzSpan="4">
              <button nz-button nzType="primary" class="select-search" (click)="search()"><i nz-icon
                  type="search"></i>搜索</button>&nbsp;&nbsp;
              <button nz-button nzType="primary" class="select-reset" (click)="resetSearch()"><i nz-icon
                  type="sync"></i>重置</button>
            </div>
          </div>
        </div>
    <nz-table [nzScroll]='{ y: "450px" }' #nzTable [nzLoadingDelay]='500' (nzPageIndexChange)='chang_page_index($event)' [nzLoading]='is_load_list'
      [(nzPageIndex)]='page_index' [nzFrontPagination]='false' [nzData]="list_of_aply_data"  [nzPageSize]='searchData.pageSize'
      [nzTotal]='list_total'>
      <thead class="ant-table-thead">
        <tr>
          <th nzWidth="16%">申请人</th>
          <th nzWidth="10%">状态</th>
          <th nzWidth="10%">金额(元)</th>
          <th nzWidth="18%">订单号</th>
          <th nzWidth="18%">创建时间</th>
          <th nzWidth="18%">更新时间</th>
          <th nzWidth="10%">操作</th>
        </tr>
      </thead>
      <tbody class="ant-table-tbody">
        <ng-template ngFor let-data [ngForOf]="list_of_aply_data">
          <tr>
            <td>
                <div class='ellipsis' style='max-width:300px;display: inline-block;'>
                    {{ data.username }}
                </div>
            </td>
            <td>{{ data.status === 0 ? '未认领' : 
              data.status === 1 ? '驳回' : 
              data.status === 2 ? '审核通过' :
              data.status === -3 ? '失败' :
              data.status === 4 ? '已认领' :
              data.status === 5 ? '成功' : '状态错误'}}</td>
            <td>{{ data.amount }}</td>
            <td>{{ data['order_id'] }}</td>
            <td>{{ data.created_at }}</td>
            <td>{{ data.up_order_at }}</td>
            <td *ngIf='data.status === 2'>
                <a (click)='get_data_detail(data)'>查看详细</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a
                  nz-popconfirm
                  nzPopconfirmTitle="确定此次操作?"
                  nzPopconfirmPlacement="bottom"
                  (nzOnConfirm)="edit_check_withdraw(data,'-3')"
                  (nzOnCancel)="cancel()"
                  >手动失败</a
                >
            </td>
            <td *ngIf='data.status !== 2'>
              <a (click)='get_data_detail(data)'>查看详细</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a
                *ngIf="data.status !== 4 && data.status !== 1"
                nz-popconfirm
                nzPopconfirmTitle="确定此次操作?"
                nzPopconfirmPlacement="bottom"
                (nzOnConfirm)="edit_check_withdraw(data,'4')"
                (nzOnCancel)="cancel()"
                style='color:#1D90FF'
                >认领审核</a
              >
              <a *ngIf="data.status === 4 && data.status !== 1" disabled>已认领</a>
              <a *ngIf="data.status === 1" disabled>已驳回</a>
              <p *ngIf="data.status === 4">
                <a 
                (click)="edit_check_withdraw(data,'reject')" 
                style='color:#1D90FF'>驳回审核</a>
                <a (click)="edit_check_withdraw(data,'pass')" style='color:#1D90FF'>通过审核</a>
                <nz-divider nzType="vertical"></nz-divider>
              </p>
            </td>
          </tr>
          <tr>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
    <nz-drawer nzWidth='1200px' [nzVisible]="detail_data_pop" nzPlacement="right"
      nzTitle="详细信息" (nzOnClose)="detail_data_pop = false">
      <div nz-row style="margin-bottom:2rem">
        <nz-descriptions [nzColumn]='{ xxl: 3, x3: 3, lg: 3, md: 3, sm: 3, xs: 3 }' nzBordered>
          <nz-descriptions-item nzTitle="用户状态">{{ withdraw_detail_data['user_status'] }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="渠道">{{ withdraw_detail_data['channel'] }}</nz-descriptions-item>
          <nz-descriptions-item nzTitle="网络地址">{{ withdraw_detail_data['ip'] }}</nz-descriptions-item>
        </nz-descriptions>
      </div>
      <div nz-row>
        <div nz-col nzSpan="7">
            <nz-descriptions nzSize="small" [nzColumn]='{ xxl: 1, xl: 1, lg: 1, md: 1, sm: 1, xs: 1 }' nzBordered>
              <nz-descriptions-item nzTitle="编号">{{ withdraw_detail_data['user_id'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="提现编号">{{ withdraw_detail_data['order_id'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="是否测试用户">{{ withdraw_detail_data['is_tester'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="提现申请时间">{{ withdraw_detail_data['created_at'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="提现备注">{{ withdraw_detail_data['remark'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="提现失败备注">{{ withdraw_detail_data['fail_remark'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="金额">{{ withdraw_detail_data['amount'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="银行名称">{{ withdraw_detail_data['bank_name'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="卡号">{{ withdraw_detail_data['card_number'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="户名">{{ withdraw_detail_data['card_username'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="省">{{ withdraw_detail_data['province'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="开户行">{{ withdraw_detail_data['branch'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="开户行地址">{{ withdraw_detail_data['branch_address'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="审核备注">{{ withdraw_detail_data['check_remark'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="状态">{{ withdraw_detail_data['status'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="认领人">{{ withdraw_detail_data['claimant'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="认领时间">{{ withdraw_detail_data['claim_time'] }}</nz-descriptions-item>
            </nz-descriptions>
        </div>
        <div nz-col nzSpan="17">
          <div nz-row>
            <nz-descriptions nzSize="small" [nzColumn]='{ xxl: 3, x3: 3, lg: 3, md: 3, sm: 3, xs: 3 }' nzBordered>
              <nz-descriptions-item nzTitle="用户余额">{{ withdraw_detail_data['user_balance'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="可用余额">{{ withdraw_detail_data['usable_balance'] }}</nz-descriptions-item>
              <nz-descriptions-item nzTitle="可提现余额">{{ withdraw_detail_data['can_withdraw_balance'] }}</nz-descriptions-item>
            </nz-descriptions>
          </div>
          <div nz-row>
            <div nz-col nzSpan="8" nzOffset='2'>
                <nz-form-label>开始时间</nz-form-label>
                <nz-date-picker nzPlaceHolder="选择开始时间" [(ngModel)]="withdraw_sreach_date.start_time" nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
            </div>
            <div nz-col nzSpan="8">
                <nz-form-label>截止时间</nz-form-label>
                <nz-date-picker nzPlaceHolder="选择截止时间" [(ngModel)]="withdraw_sreach_date.end_time" nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
            </div>
            <div nz-col nzSpan="4">
                <button nz-button nzSize="small" nzType="primary" (click)="get_data_detail()">搜索</button>
            </div>
          </div>
          <div nz-row>
              <nz-descriptions nzSize="small" [nzColumn]='{ xxl: 3, x3: 3, lg: 3, md: 3, sm: 3, xs: 3 }' nzBordered>
                <nz-descriptions-item nzTitle="当天充值金额">{{ withdraw_detail_data['that_day_recharge_amount'] }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="当天提现金额">{{ withdraw_detail_data['that_day_withdraw_amount'] }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="当天投注额">{{ withdraw_detail_data['that_day_bet_amount'] }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="审核管理员">{{ withdraw_detail_data['audit_manager'] }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="审核时间">{{ withdraw_detail_data['audit_time'] }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="到账时间">{{ withdraw_detail_data['updated_at'] }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="手续费">{{ withdraw_detail_data['service_fee'] }}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="实际付款金额">{{ withdraw_detail_data['remittance_amount'] }}</nz-descriptions-item>
              </nz-descriptions>
          </div>
        </div>
      </div>
    </nz-drawer>
    <nz-drawer nzWidth='400px' [nzVisible]="is_edit_check" nzPlacement="right"
      nzTitle="填写相关内容" (nzOnClose)="is_edit_check = false">
        <div *ngIf="withdraw_pop_type == 'reject'"> 
            <nz-form-item>
              <nz-form-label [nzSpan]="6" >驳回理由</nz-form-label>
              <nz-form-control [nzSpan]="16">
                  <input nz-input nzSize="small" placeholder="驳回理由" [(ngModel)]="withdraw_remark"/>
              </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" (click)="edit_check_withdraw(withdraw_data,'1')">提交</button>
        </div>
        <div *ngIf="withdraw_pop_type == 'pass'">
            <nz-form-item>
                <nz-form-label [nzSpan]="6" >通过选项</nz-form-label>
                <nz-form-control [nzSpan]="16">
                    <nz-select nzSize="small" style="width: 100%;" [(ngModel)]="withdraw_channel_id" nzAllowClear nzPlaceHolder="通过选项">
                      <nz-option nzValue=" " nzLabel=" "></nz-option>
                      <nz-option nzValue="1" nzLabel="1"></nz-option>
                    </nz-select>
                </nz-form-control>
              </nz-form-item>
            <button nz-button nzType="primary" (click)="edit_check_withdraw(withdraw_data,'2')">提交</button>
        </div>
    </nz-drawer>
  </nz-content>
</nz-layout>
